<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link href="~/style/style1.css" rel="stylesheet" />
</head>
<body>
<div class="container body-content">
    @RenderBody()
    
</div>


</body>
</html>
