@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <header>
        <h1>Braille Master</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Braille</a></li>
                <li><a href="#">Perimeter</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Report</h2>
        <form action="#">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </main>

</body>
</html>